<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wanglei.mapper.PrintMapper">
    <select id="getPrintHistoryList" resultType="PrintHistory" >
	        SELECT print.id, print_date, username, print_behavior.behavior as behavior_name, goods_id
	        FROM print inner join print_behavior
	        where print.behavior = print_behavior.id
	</select>

    <insert id="insertPrintHistory" parameterType="PrintHistory">
        insert into print (print_date, username, behavior, goods_id) values (#{print_date}, #{username}, #{behavior}, #{goods_id});
    </insert>
</mapper>